@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none; font-family: 'Noto Sans KR', sans-serif; color: #111;}
img{width: 100%;}
html, body{overflow-x: hidden;}
body{font-family: 'Noto Sans KR', sans-serif;}
header, section, footer, div, ul, li{
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    background-color: rgba(34,33,33,0.6);
    position: fixed;
    top:0%;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 28px 20px;
    z-index: 101;
}
header .logo{
    width: 100px;
}
header .menu{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
header .menu .ask{
    margin-right: 50px;
}
header .menu .ask a{
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    border: 1px solid#fff;
    font-size: 15px;
}
header .menu .menu_btn{
    width: 30px;
    /* 형제객체 gnb와 겹침 */
    position: absolute;
    z-index: 105;
    right: 20px;
}

/* 햄버거메뉴 버튼 */
#nav-icon4 {
    width: 30px;
    height: 24px;
    position: relative;
    margin: 50px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
  }
#nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
  
#nav-icon4 span:nth-child(2) {
    width: 70%;
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
  
#nav-icon4 span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
  
#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}
  
#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
  
#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 22px;
    left: 5px;
}

/* GNB */
.gnb{
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    z-index: 102;
    background-color: #222;
    padding: 20px;
}
.gnb .top_menu{
    width: 100%;
    float: left;
    display: flex;
    height: 80px;
}
.gnb .top_menu .search{
    display: flex;
}
.gnb .top_menu .search .search_input input{
    border-radius: 30px;
    padding: 0px 10px;
    background-color: rgba(255,255,255,0.2);
    font-size: 12px;
    border:none;
    padding:10px 15px;
    width: 80px;
    color: #aaa;
}
.gnb .top_menu .search .search_input input::placeholder{
    color: #aaa;
    font-size: 12px;
    text-align-last: center;
}
.gnb .top_menu .search .search_btn{
    margin: 5px 15px 10px;
}
.gnb .top_menu .search .search_btn a{
    color: #fff;
}
.gnb .top_menu .lang a{
    color: #fff;
    font-size: 12px;
    line-height: 33px;
}
.gnb nav{
    width: 100%;
    float: left;
    margin-top: 50px;
    border-top: 1px solid #444;
}
.gnb nav ul li{
    border-bottom: 1px solid #444;
}
.gnb nav ul li a{
    font-size: 22px;
    line-height: 80px;
    color: #999;
    text-align: center;
    display: block;
    font-weight: 500;
}
.gnb nav ul li a.active{
    color: #fff;
}
.gnb nav ul li .sub{
    background-color: #333;
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}
.gnb nav ul li .sub li{
    height: 55px;
}
.gnb nav ul li .sub li:nth-child(odd){
    border-right: 1px solid #444;
}
.gnb nav ul li .sub li a{
    line-height: 55px;
    font-size: 16px;
}

.swiper{
    height:100vh;
}
.s1 .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32vh 5vw;
}
.s1 .swiper-slide .line{
    width: 1px;
    height: 25px;
    background-color: #fff;
    margin: 0 auto;
}
.s1 .swiper-slide h1{
    margin-top: 3vw;
    font-size: 9vw;
    color: #fff;
    text-align: center;
    line-height: 10vw;
}
.s1 .swiper-slide h1 span{
    color: #015578;
}
.s1 .swiper-slide h2{
    font-size: 7vw;
    color: #fff;
    text-align: center;
    line-height: 10vw;
}
.s1 .swiper-slide h2 span{
    color: #015578;
}
.s1 .swiper-slide h3{
    font-size: 5.5vw;
    color: #fff;
    text-align: center;
    line-height: 6vw;
    font-weight: 500;
    line-height: 10vw;
}
.s1 .swiper-slide p{
    color: #fff;
    text-align: center;
    margin-top: 6vw;
    line-height: 6.5vw;
    font-size: 4.3vw;
    font-weight: 300;
    margin-bottom: 6vw;
}
.s1 .swiper-slide button{
    background-color: #015578;
    color: #fff;
    border: none;
    padding: 2vh 10vw;
    font-size: 4.5vw;
    display: block;
    margin: 0 auto;
}
.s1 .main1{
    background-image: url(../img/A-1.png);
}
.s1 .main2{
    background-image: url(../img/A-2.png);
}
.s1 .main3{
    background-image: url(../img/A-3.png);
}
.s1 .main4{
    background-image: url(../img/A-4.png);
}
.s1 .main5{
    background-image: url(../img/A-5.png);
}

.s1 .swiper-pagination{
    bottom: 80px;
}
.s1 .swiper-pagination-bullet{
    width: 28px;
    height: 5px;
    border-radius: 0;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255,1);
    margin: 0 5px !important;
}
.s1 .swiper-pagination-bullet-active{
    border: 1px solid #fff;
    background-color: transparent;
}

.s2{
    background-image: url(../img/B-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0vh 7vw;
}
.s2 button{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 3.5vw;
    padding: 3vw;
}
.s2 h3{
    font-size: 5.5vw;
    color: #fff;
    line-height: 6vw;
    font-weight: 500;
    line-height: 8vw;
    margin-top: 2vh;
}
.s2 .addNumber {
    margin-top: 4vw;
}
.s2 .addNumber h1{
    color: #fff;
    font-size: 10vw;
}
.s2 p{
    color: #fff;
    margin-top: 6vw;
    line-height: 6.5vw;
    font-size: 4.3vw;
    font-weight: 300;
    margin-bottom: 6vw;
}
.s2 .factory_logo{
    width: 10vw;
    margin-top: 4vw;
}

.s3{
    background-image: url(../img/C-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0vh 7vw;
}
.s3 h1{
    color: #fff;
    font-size: 8vw;
    font-weight: 400;
}
.s3 h1:first-child{
    font-weight: 300;
}
.s3 button{
    background-color: #015578;
    border: none;
    color: #fff;
    padding: 1.5vh 5.5vw;
    font-size: 4.5vw;
    margin: 5vh 0 1vh;
}
.s3 p{
    color: #fff;
}
.s3 .bottom .house_logo{
    width: 10vw;
    margin-top: 35vw;
}
.s3 .bottom span{
    color: #fff;
    font-size: 4.5vw;
    margin-top: 38vw;
}
.s3 .bottom{
    display: flex;
    gap: 3vw;
}
.s3 .bottom .addNumber2{
    margin-top: 34vw;
    display: flex;
    margin-left: 28vw;
}
.s3 .bottom h3{
    color: #fff;
    padding-top: 4vw;
    padding-left: 1vw;
    font-weight: 200;
}

.s4{
    background-image: url(../img/D-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 7vw;
    text-align: center;
}
.s4 .line{
    width: 1px;
    height: 25px;
    background-color: #fff;
    margin: 0 auto;
}
.s4 p{
    color: #fff;
}
.s4 h1{
    color: #fff;
    font-size: 8vw;
    font-weight: 100;
}
.s4 h2{
    color: #fff;
    font-size: 8vw;
    font-weight: 400;
}
.s4 span{
    color: #fff;
    font-size: 3.5vw;
    white-space: nowrap;
}
.s4 .s4_box{
    width: 100%;
    display: flex;
    margin-top: 5vh;
}
.s4 .s4_box > div{
    width: 50%;
    padding: 10vw;
}
.s4 .s4_box div img{
    padding-bottom: 2vw;
}
.s4 .s4_box .s4_left{
    border-right: 1px solid rgba(255,255,255,0.2);
}
.s4 .s4_box div a{
    position: relative;
    width: 110px;
    height: 100px;
    display: block;
}
.s4 .s4_box div div{
    position: absolute;
    transition: all 0.5s;
}
.s4 .s4_box .s4_left .s4_left_ani {
    top: -2vh;
    left: -1vh;
    opacity: 0;
}
.s4 .s4_box .s4_left .s4_left_ani.active{
    top: 1.5vh;
    left: -1vh;
    opacity: 1;
}
.s4 .s4_box .s4_right .s4_right_ani {
    left: 9vw;
    opacity: 0;
}
.s4 .s4_box .s4_right .s4_right_ani.active{
    left: 3vw;
    opacity: 1;
}

.s5{
    background-image: url(../img/e.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.s5 > div > div{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0 ;
    position: absolute;
    padding: 0 7vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.s5 .bg{
    background-color: rgba(0,0,0,0.6);
}
.s5 .line{
    width: 1px;
    height: 25px;
    background-color: #fff;
    margin: 0 auto;
}
.s5 h2{
    color: #fff;
    font-size: 7vw;
    text-align: center;
}
.s5 h2 span{
    color: #015578;
}
.s5 h1{
    color: #fff;
    font-size: 8vw;
    text-align: center;
}
.s5 p{
    color: #fff;
    text-align: center;
    margin-top: 6vw;
    line-height: 6.5vw;
    font-size: 4.3vw;
    font-weight: 300;
    margin-bottom: 18vw;
}
.s5 button{
    background-color: #015578;
    color: #fff;
    border: none;
    padding: 2vh 10vw;
    font-size: 4.5vw;
    display: block;
    margin: 0 auto;
}

.s6{
    background-image: url(../img/F-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 7vw;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
}
.s6 h1{
    color: #fff;
    font-size: 8vw;
    font-weight: 100;
    text-align: center;
}
.s6 h2{
    color: #fff;
    font-size: 8vw;
    font-weight: 400;
    text-align: center;
}
.s6 .s6_box{
    margin-top: 3vh;
}
.s6 .s6_box ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
    width: 100%;
    height: 38vh;
}
.s6 .s6_box ul li{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1vw;
    box-sizing: border-box;
}
.s6 .s6_box ul .sns1{
    background-image: url(../img/f1.png);
}
.s6 .s6_box ul .sns2{
    background-image: url(../img/f2.jpg);
}
.s6 .s6_box ul .sns3{
    background-image: url(../img/f3.jpg);
}
.s6 .s6_box ul .sns4{
    background-image: url(../img/f4.jpg);
}
.s6 .s6_box ul .sns5{
    background-image: url(../img/f5.jpg);
}
.s6 .s6_box ul .sns6{
    background-image: url(../img/f6.jpg);
}
.s6 .s6_box ul .sns7{
    background-image: url(../img/f7.jpg);
}
.s6 .s6_box ul .sns8{
    background-image: url(../img/f8.jpg);
}
.s6 .s6_box ul .sns9{
    background-image: url(../img/f9.jpg);
}
.s6 .s6_box ul li .sns_icon{
    width: 30px;
    height: 30px;
    padding: 1.5vw;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.5);
}
.s6 .sns{
    margin-top: 5vh;
}
.s6 .sns ul{
    display: flex;
    justify-content: center;
}
.s6 .sns ul li{
    width: 35px;
    height: 35px;
    margin: 5vw;
}

.s7 .news{
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url(../img/G-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50vw;
}
.s7 .event{
    background-image: url(../img/G-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 15vw;
}
.s7 .fra{
    background-image: url(../img/G-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15vw;
}
.s7 > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.s7 div div{
    padding: 5vw;
}
.s7 button{
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.3);
    color: #fff;
    font-size: 3vw;
    padding: 2vw;
    margin-bottom: 3vw;
}
.s7 h2{
    color: #fff;
    font-weight: 400;
    font-size: 5.5vw;
}
.s7 p{
    color: #fff;
    font-weight: 100;
    font-size: 3.2vw;
    margin-top: 3vw;
}
.s7 .arrow{
    width: 25px;
    margin-top: 2vh;
    padding: 0;
    opacity: 0.8;
}

footer{
    background-image: url(../img/FOOTER.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 35px;
}
footer .info{
    margin-bottom: 5vh;
}
footer .info ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
footer .info ul li a{
    color: #fff;
    font-size: 3.3vw;
    border-right: 1px solid rgba(255,255,255,0.3);
    padding-right:3vw;
    white-space: nowrap;
}
footer .info ul li:last-child a{
    border: none;
}
footer address{
    font-style: normal;
    font-size: 3vw;
    color: #eee;
    margin-top: 2vh;
    text-align: center;
    line-height: 5vw;
    font-weight: 300;
}
footer p{
    font-size: 2.8vw;
    color: #eee;
    margin-top: 2vh;
    text-align: center;
    line-height: 6vw;
    font-weight: 300;
}

#fp-nav ul li:last-of-type{display: none;}
#fp-nav ul li a span{
    background-color: rgba(255,255,255,0.5);
    width: 8px;
    height: 8px;
}
#fp-nav ul li a.active span{
    background-color: transparent;
    border: 1px solid rgba(74, 225, 255);
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}
#fp-nav ul li:hover a span{
    background-color: transparent;
    border: 1px solid rgba(74, 225, 255);
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}
